@model Category
@{
    ViewData["Title"] = "CreateMultiple";
}

<h1>Create Multiple Category</h1>
<div>
    <form method="post" asp-controller="Categories" asp-action="CreateMultiple" id="formType">
        
        <div class="form-group row">
            <div class="form-group row mb-1">
                <label asp-for="ProductType" class="col-form-label col-2"></label>
                <div class="col-4">
                    <select class="form-select" id="typeid" name="typeid" asp-items="@(new SelectList(ViewBag.ProductTypes, "Id","Name", ViewBag.TypeId))">
                        <option value="">None</option>
                    </select>

                    <span asp-validation-for="Product_Type_Id" />
                </div>
            </div>
        </div>
    </form>
        <div class="row">
            <div class="col-8">
                <h3>Existing Categories</h3>
                <form id="categoryForm" method="post" asp-controller="Categories" asp-action="SaveMultiple">
                   
                   
                    <table class="table table-bordered">
                        <thead class="bg-light">
                            <tr>
                                <th>Category</th>
                                <th>Description</th>
                                <th class="text-end me-1" style="width:90px"><button type="button" id="add" class="btn btn-secondary btn-sm"><i class="bi bi-plus"></i></button></th>
                            </tr>
                        </thead>
                        <tbody id="tbl">
                            @if (ViewBag.Categories != null)
                            {


                                @foreach (Category x in ViewBag.Categories as IEnumerable<Category>)
                                {
                                    <tr>
                                        <td>@x.Name</td>
                                        <td colspan="2">@x.Description</td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                    
                </form>
                
            </div>
            <div class="col-12">
                <table class="table table-bordered" id="newData">
                    <thead class="bg-light">
                        <tr>
                            <th>Category</th>
                            <th>Description</th>
                            <th class="text-end me-1" style="width:90px">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-grid mx-4">
                        <button class="btn btn-primary" type="button" id="saveAll">Save</button>
                        
                    </div>
                </div>
            </div>

        </div>
   
</div>
<div class="modal" tabindex="-1" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <form id="addForm" name="addForm">
                            <div class="form-group row mb-1">
                                <label asp-for="Name" class="col-form-label col-2"></label>
                                <div class="col-4">
                                    <input asp-for="Name" class="form-control col-6" style="width:250px" />
                                    <span asp-validation-for="Name" class="d-flex text-danger" style="width:250px"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label asp-for="Description" class="col-form-label col-2"></label>
                                <div class="col-4">
                                    <textarea asp-for="Description" class="form-control col-6"style="width:250px" ></textarea>
                                    <span asp-validation-for="Description" class="d-flex text-danger" style="width:250px"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" form="addForm" id="addToTable">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section Styles
{
    <link href="~/libs/boostrap-icon/font/bootstrap-icons.css" rel="stylesheet" />

}
@section Scripts
{

    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/validation/jquery.validate.min.js"></script>

    <script src="~/libs/validation/jquery.validate.unobtrusive.min.js"></script>
    <script>
    var myModal;
    var dataToAdd = [];
    $(() => {
        $("#typeid").change(() => {
            $("#formType").submit();
        });
        myModal = new bootstrap.Modal(document.getElementById('addModal'), {
            backdrop: true
        });
        $("#add").click(() => {
            myModal.show();
        });
        $("#addToTable").click(() => {
            if ($("#addForm").valid()) {
                console.log('OK');
                dataToAdd.push({ Name: $("#Name").val(), Description: $("#Description").val(), Product_Type_Id: $("#typeid").val() });
                //console.log(dataToAdd);
                myModal.hide();
                $("#addForm").trigger('reset');
                showNewData();
            }
        });
        $(document).on("click", "button.del", function () {
            var i= $(this).data("index");
            dataToAdd.splice(i, 1);
            showNewData();
        });
        $("#saveAll").click(() => {
            //console.log(dataToAdd);
            $.ajax({
                method: 'POST',
                dataType: 'json',
                //converters: { "text html": true},
                url: "/Categories/SaveAll",
                data: {
                    categories: dataToAdd
                },
                success: result => {
                    $("#tbl").empty();
                    for (var i = 0; i < result.length; i++) {
                        $("#tbl").append(
                            `<tr>
                                <td>${result[i].name}</td>
                                <td colspan="2">${result[i].description}</td>
                             </tr>`
                        );
                    }
                    $("#newData tbody").empty();
                }
            });
        })
    });
    function showNewData() {
        $("#newData tbody").empty();
        dataToAdd.forEach((x, i) => {
            $("#newData tbody").append(
                `<tr>
                    <td>${x.Name}</td>
                    <td>${x.Description}</td>
                    <td><button class='btn btn-danger btn-sm del' data-index=${i}><i class='bi bi-trash'></i></button></td>
                  </tr>`
            );
        })

    }
    </script>
}

