@model ProductType
@{
    ViewData["Title"] = "Create";
}

<div class="border px-2 mb-1">

    <h3>Create Product Type</h3>
    <form method="post" asp-controller="ProductTypes" asp-action="Create">
        <div class="form-group row mb-1">
            <label asp-for="Name" class="col-form-label col-2"></label>
            <div class="col-4">
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" />
            </div>
        </div>
        <div class="form-group row mb-1">
            <label asp-for="Description" class="col-form-label col-2"></label>
            <div class="col-4">
                <textarea type="text" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" />
            </div>
        </div>
        <div class="form-group row mb-1">

            <div class="col-4 offset-2">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </div>
    </form>
</div>

@section Styles
{
    <link href="~/libs/boostrap-icon/font/bootstrap-icons.css" rel="stylesheet" />

}
@section Scripts
{

    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/validation/jquery.validate.min.js"></script>

    <script src="~/libs/validation/jquery.validate.unobtrusive.min.js"></script>
}